{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <input type="text" class="flatpickr" placeholder="Escolha uma data" />
    <div id="schedules" class="providers"></div>
    <a href="/app/dashboard" class="logout">Voltar</a>
  </div>
  <script type="text/javascript">
    flatpickr(".flatpickr", {
      minDate: new Date(),
      dateFormat: "d/m/Y",
      onChange: function(date) {
        fetch(`/app/schedules/{{provider.id}}/?date=${date[0].getTime()}`).then(
          function(response) {
            response.text().then(function(html) {
              document.getElementById("schedules").innerHTML = html;
            });
          }
        );
      }
    });
  </script>
{% endblock%}
